<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<title>寻主申请</title>
		<!--<link rel="stylesheet" type="text/css" href="../CSS/index.css">-->
		<link rel="stylesheet" type="text/css" href="CSS/up.css">
	</head>
	<body>
		<div id="log">
			<div id="content">
				
					
					<div id="skip">
						寻主申请填写
					</div>
				
				<br><br>
				<div class="upimg">
					<div class="logo">
					<img src="IMG/four.jpg" height="150";width="200"/>
				</div>
				<div class="upload">
					<p>请点击上传图片</p>
					<form>
						<input type="file" />
					</form>
				</div>
			</div>
				<br>
				<div id="information">
					<form action="">
						
							
						<div class="int">
							<i class="icon"></i>
							<input type="text" name="jiuzhuzhan" id="jiuzhuzhan" class="input" placeholder="请输入宠物的品种和年龄信息"/>
						</div>
						<div class="int">
							<i class="icon"></i>
							<input type="text" name="information1" id="information1" class="input" placeholder="请输入宠物的详细信息（包括对生活环境、饮食等的特殊要求）"/>
						</div>
						<div class="int">
							<i class="icon"></i>
							<input type="text" name="tel" id="tel" class="input" placeholder="请输入联系方式（推荐：联系电话+联系地址）"/>
						</div>
						
						<div class="sub">
							<button type="submit" id="send">提交请求</button> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
