<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addAnimal" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input name="sex">
    <input name="age">
    <input name="breed">
    <input name="color">
    <input type="file" name="file">
    <input name="vaccine_yon">
    <input name="sterilization_yon">
    <input name="animal_character">
    <input name="location">
    <input name="hobby">
    <input name="weight">
    <input name="details">
    <input name="lostPlace">
    <input name="telephone">
    <input name="introduction">
    <input type="submit">
</form>
</body>
</html>